#################################################
# Maven
#################################################
target/
#################################################
# IDE
#################################################
.idea/
.vscode/
*iml
#################################################
# GIT
#################################################
.gitignore
.git/
#################################################
# Logs
#################################################
logs/
*.log
#################################################
# Operating System
#################################################
.DS_Store
Thumbs.db
#################################################
# Environment Files
#################################################
.env
#################################################
# Documentation
#################################################
README.md
#################################################
# Docker
#################################################
docker-compose.yml