<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body
        style="font-family:Arial;
background:#f7f7f7;
padding:20px;">

<div
        style="background:white;
padding:30px;
max-width:700px;
margin:auto;">

    <h2
            style="color:green;">

        Marks Published

    </h2>

    <p>

        Hello

        <strong
                th:text="${studentName}"></strong>

    </p>

    <table
            border="1"
            cellpadding="10"
            style="border-collapse:collapse;">

        <tr>

            <th>Course</th>

            <td
                    th:text="${courseName}"></td>

        </tr>

        <tr>

            <th>Percentage</th>

            <td
                    th:text="${percentage}"></td>

        </tr>

        <tr>

            <th>Grade</th>

            <td
                    th:text="${grade}"></td>

        </tr>

    </table>

    <br>

    <p>

        Congratulations!

    </p>

</div>

</body>

</html>